<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% load static %}
{% load rest_framework %}
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>Title</title>
    <style>
        .vagas_disponiveis {
            color: black;
            font-size: xx-large;
            padding: 20px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <form>
            <a class="navbar-brand" href="/">
          <img style="max-width:70px; margin-top: -7px;" alt="Brand" src="{% static "main_page/images/ha-vagas.png" %}" class="img-responsive"/>
      </a>
        </form>
        <form method="get" action="." class="form-inline d-flex justify-content-center md-form form-sm active-cyan-2 mt-2">
            {{ pesquisa }}
            <input class="form-control column form-control-sm mr-4 w-120" name="p" type="text" placeholder="Buscar vagas..."
                   aria-label="Procurar Vagas">
              <i class="fas fa-search" aria-hidden="true"></i>
        </form>
    </div>
</nav>

<div class="table-responsive">
    <label class="vagas_disponiveis">Vagas</label>
    <table class="table">
    {% if vagas %}
      <thead class="thead-dark">
        <tr>
          <th scope="col" style="text-align: center">ID da Vaga</th>
          <th scope="col">Nome da Vaga</th>
          <th scope="col">Descrição da Vaga</th>
          <th scope="col">Requisitos</th>
          <th scope="col">Local</th>
          <th scope="col">Filme Relacionado</th>
        </tr>
      </thead>
      <tbody>
        {% for vaga in vagas %}
          <tr>
          <th scope="row" style="text-align: center">{{ vaga.id }}</th>
          <td >{{ vaga.nome }}</td>
          <td >{{ vaga.descricao }}</td>
          <td >{{ vaga.requisitos }}</td>
          <td >{{ vaga.local }}</td>
          <td> {{ vaga.title }}, by: {{ vaga.director }}</td>
        </tr>
        {% endfor %}
        </tbody>

{% else %}
        <div style="text-align: center">
        <img src="{% static "main_page/images/no-vacancy.jpg" %}" alt ="" class="img-responsive">
       </div>
{% endif %}
</table>

</div>
</body>
</html>